:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
}
* {
  font-family: var(--font-default);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;

  font-family: var(--font-default);
  font-size: 18px;
  max-width: 1300px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

.header-logo {
  display: flex;
  max-width: 100px;
  max-height: 50px;
  margin-top: 20px;
  margin-left: 20px;
}
img {
  padding-right: 1rem;
}
.message-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  margin: 100px 50px;
}
.inscription-msg {
  color: black;
  font-size: 30px;
}
.return-btn {
  background-color: #f00;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 10px;
}
